body
{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario
{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen
{
    width: 100%;
}

.encuesta
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}

input
{
    border: 1px solid black;
}

label
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}